
/* Global  */

*{
    box-sizing: border-box;
}

.navbar-brand {
    display: flex;
    align-items: center !important;
}

html, body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color:#F6F6EF;
}

a {
    color: #003c71;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    color: white;
    font-size:16px;
    font-weight: bolder;
}




/*           Forums.html                       */

.container{
    margin: 20px 20px 0px 20px !important;
    padding: 20px 20px 0px 20px;
    min-width: 100dvw !important;

}


.subforum{
    margin-top:20px;
}

.subforum-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#003c71;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color: #e6e6de
}

.subforum-description *{
    margin-block: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;   
}




/* For the smartphones */
@media screen and (max-width: 1024px) {
    /* .container{
        margin: 10px;
        padding: 10px;
    } */

    .subforum-row{
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-rows: auto auto;
        overflow: auto;
    }

    .subforum-devider{
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
    }

    

  }

/* For the tablets */
/* @media screen and (min-width: 800px) and (max-width: 1024px) {
    .container{
        margin: 15px;
        padding: 15px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i{
        font-size: 35px;
    }

    html{
        font-size: 14px;
    }

    h1{
        font-size: 16px;
    }

  } */

  /* Nav Bar styles */

section.navbar {
    overflow: scroll;
    min-height: 93px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
section.navbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
section.navbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}


div#navbarBasicExample.navbar-menu {
    align-items: center;
}

.navbar-brand {
    align-items: center;
}  

.navbar-item {
    font-size: 20px;
    margin-right: 20px;
}

a.navbar-item {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
}

a.navbar-item:hover {
    border-bottom: 2px solid #ff0;
    transition: border-bottom 0.3s ease-in-out;
}

.navbar-item:last-child {
    margin-right: 25px;
}

.navbar-item.brand {
    font-size: 50px;
}

.navbar-item.brand:hover {
    border-bottom: 2px solid transparent;
}

a.navbar-item.brand {
    margin-left: 20px;
}

a.navbar-burger {
    border: 1.5px solid #000;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.logo{
    margin-top: 2px;
    margin-left: 1rem;
    max-height: none !important;
}


/* Adjustments for smaller screens */
/* Navbar style for phone */
@media screen and (max-width: 1023px) {
    a.navbar-item:not(.brand),
    a.navbar-item:not(.brand):hover,
    div.navbar-end {
    border-bottom: none;
    font-size: 1.1rem;
    overflow: hidden;
    max-height: 0;
    animation: slideUp 0.5s ease;
    display: block !important;
    }
    
    .navbar-menu {
    display: block !important;
    }
    
    .is-active .navbar-item:not(.brand),
    .is-active .navbar-item:not(.brand):hover,
    .is-active div.navbar-end {
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    animation: slideDown 0.5s ease;
    border-bottom: none;
    font-size: 1.1rem;
    }
    
    @keyframes slideUp {
    0% {
    max-height: 200px;
    }
    100% {
    max-height: 0;
    display: none;
    }
    }

    @keyframes slideDown {    
    0% {
    max-height: 0;
    }
    100% {
    max-height: 200px;
    }
    }

    .navbar-item.brand,
    .navbar-item.brand:hover {
    border-bottom: none;
    }

}

@media screen and (max-width: 767px) {
    .navbar-item.brand,
    .navbar-item.brand:hover {
    font-size: 1.75rem;
    border-bottom: none;
    }

    a.navbar-item.brand {
    margin: 0;
    }

    .navbar-burger span {
      height: 2px;
      width: 20px;
    }
    a.navbar-burger {
        height: 40px;
        width: 40px;
    }
    .logo {
        margin-left: 0.5rem;
        height: 32px;
        width: 32.5px;
    }
  }


  /* Search Box styles */
.search-box{
    margin-top: 20px;
    padding: 20px;
    justify-content: center;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
    width: 70%;
}

.search-box button{
    padding: 10px;
    background-color:#fff;
    color:#000000;
}

.search-box button:hover{
    background-color: #000000;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
}

/* search box for smrtphones */
@media screen and (max-width: 320px){
    .search-box input, .search-box button, .search-box select{
        min-width: 300px;
        margin-top: 5px;
    }    

}

/* forum info Styling */
.forum-info{
    margin-top: 25px;
    padding: 20px;
    color: white;
    background-color: #003c71;
}

.chart{
    font-size:20px;
    font-weight:bold;
}
/* Footer Styling */

.page-container {
    min-height: calc(100dvh - 219.89px);
    display: grid;
    place-content: center;
    width: 100%;
}

footer{
    padding: 20px;
    color: white;
    background-color:  #003c71;
    display: block;
    text-align: center;
    margin-top: auto;
}


/* posts.html  */


/* posts table's head  */
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #e6e6de;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* posts table's body  */

.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: #e6e6de;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/* navigation path*/
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a{
    color: black;
}

.navigate a:hover{
    color:#FF0042;
    font-weight: bolder;
}

/* comment section */


div.comment .comment-content {
    word-wrap: break-word;
}

.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}

/* Profile.html */ 
body {
    background: #F5F7FA
  }
  
  .stat-val {
    font-size: 3em;
    padding-top: 20px;
    font-weight: bold;
  }
  
  .stat-key {
    font-size: 1.4em;
    font-weight: 200
  }
  
  .section.profile-heading .column.is-2-tablet.has-text-centered + .has-text-centered {
    border-left: 1px dotted rgba(0, 0, 0, .2);
  }
  
  .container.profile {
    margin-top: 1%;
  }
  
  .control.is-pulled-left span.select {
    margin-right: 5px;
    border-radius: 2px;
  }
  
  .modal-card .content h1 {
    padding: 40px 10px 10px;
    border-bottom: 1px solid #dadada
  }
  
  .container.profile .profile-options .tabs ul li.link a {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #F1F1F1;
  }

form {
    z-index: 100;
}

.admin-btns {
    background: none; border: none; font-size: medium; font-weight: bold; text-decoration: underline; color: #fff;
}

.element-btns {
    background: none; border: none; font-size: medium; text-decoration: underline; color: #3273dc; margin-top: 10px;
}

.comment-btns {
    background: none; border: none; font-size: medium; font-weight: bold; text-decoration: underline; color: #000; margin-top: 10px;
}


