.centered-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.has-background-purple {
  background-color: #6c74f4;
}

header {
    width: 100%;
    background-color: #fff;
}

/* src = https://codepen.io/MinzCode/pen/qBqrMMP */

.Star-background {
	padding: 0;
	margin: 0;
	height: 100vh;
	background: linear-gradient(0deg, rgba(13,35,93,1) 0%, rgba(0,5,8,1) 70%);
}
.Star-background #canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
  /* z-index: ; */
}



