a {
    text-decoration: none;
    color: black;
  }
  .hero.is-fullheight {
    min-height: 0vh;
  }
  .hero.is-primary .title {
    color: black;
  }

  h1,
  h4,
  ol {
    margin: 0;
  }
  p {
    margin: 5px 0;
  }
  .top-bar {
    background-color: skyblue;
    padding: 0 40px;
  }
  .main {
    background-color: #f6f6ef;
    padding: 10px 15px;
  }
  .row {
    padding: 5px;
  }
  .bottom {
    display: flex;
    color: grey;
    font-size: 12px;
  }
  .timestamp {
    padding-right: 10px;
  }
  .comment-count {
    padding-right: 10px;
  }
  .author {
    padding-right: 10px;
  }
  .top-bar {
    background-color: #fff400;
    color: black;
  }

  .top-bar > h1 {
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: black;
}
h1, h4, ol {
    margin: 0;
}
p {
    margin: 5px 0;
}

button {
    display: block;
    margin: 10px 0;
}
.top-bar{
    background-color: #fff400;
    color: black;
    padding: 0 40px;
}
.top-bar > h1 {
    font-weight: 700;
  }
.main {
    background-color: #F6F6EF;
    padding: 10px 40px;
}
.comments {
    margin: 40px 0;
}
.row {
    padding: 5px 0;
}
.bottom, .top-comment {
    display: flex;
    color: grey;
    font-size: 15px;
    
}

.comment{
    border: 2px solid lightblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: hsl(205, 100%, 90%);
}

.timestamp {
    padding-right: 15px;
} 

.comment-ts {
    margin-left: 15px;
}

.hero.is-fullheight {
    min-height: 0vh;
}
.bottom {
    display: flex;
    color: grey;
    font-size: 12px;
  }
.timestamp {
    padding-right: 10px;
  }
.comment-count {
    padding-right: 10px;
  }
.author {
    padding-right: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}