{% extends "base.html" %} {% block content %}
<!--starts here-->
<body>
  <div style="display: flex; flex-direction: column; height: calc(100dvh - 219px); width: 100vw;">
    <div style="padding: 20px 20px 0px 20px;">
      <div class="subforum-row">
        <div class="subforum-icon subforum-column center">
            <i class="fa fa-user center"></i>
        </div>
          {% if (not edit and own) or (not edit and current_user.id==1) %}
        <div class="subforum-description subforum-column">
            <h4><a href="{{ url_for('main.thread_detailed', thread_id=thread.id)}}">{{ thread.title }}</a></h4>
            <p>{{ thread.content }}</p>
            <div style="display: flex;">
              {% if current_user.id != 1 and own %}
              <button class="element-btns"><a href="{{ url_for('main.thread_edit', thread_id=thread.id)}}">Edit Thread</a></button>
              {% endif %}
              <form action="{{ url_for('main.del_thread', thread_id=thread.id) }}" method="POST">
                <button class="element-btns" type="submit"><a>Delete Thread</a></button>
              </form>
            </div>
        </div>
        {% elif not edit and not own%}
        <div class="subforum-description subforum-column">
          <h4><a href="{{ url_for('main.thread_detailed', thread_id=thread.id)}}">{{ thread.title }}</a></h4>
          <p>{{ thread.content }}</p>
      </div>
        {% elif edit %}
        <div class="subforum-description subforum-column">
          <form action="{{ url_for('main.thread_update', thread_id=thread.id)}}" method="POST">
            <h4 id ="title" name="title"><a href="{{ url_for('main.thread_detailed', thread_id=thread.id)}}">{{ thread.title }}</a></h4>
            <textarea
            rows="6"
            name="title"
            id="title"
            class="formbold-form-input"
            value="{{ thread.title }}"
            placeholder="{{ thread.title }}"
            required
          >{{ thread.title }}</textarea>
            <p id="content" name="content">{{ thread.content }}</p>
            <textarea
            rows="6"
            name="content"
            id="content"
            class="formbold-form-input"
            value="{{ thread.content }}"
            placeholder="{{ thread.content }}"
          >{{ thread.content }}</textarea>
          <div style="display: flex;">
            <button type="submit" class="element-btns"><a>Save Thread</a></button>
          </form>
          <form action="{{ url_for('main.del_thread', thread_id=thread.id) }}" method="POST">
            <button class="element-btns" type="submit"><a>Delete Thread</a></button>
          </form>
          </div>
        </div>
        {% endif %}
        {% if thread.count == 1  %}
        <div class="subforum-stats subforum-column center">
            <span>{{ thread.count }} Comment </span>
        </div>
        {% endif %} {% if thread.count > 1 or thread.count == 0  %}
        <div class="subforum-stats subforum-column center">
            <span>{{ thread.count }} Comments </span>
        </div>
        {% endif %}
        <div class="subforum-info subforum-column">
            {% if thread.author.name %}
            by <a href="">{{ thread.author.name }}</a> 
            {% else %}
            by <a href="">Anonymous</a> 
            {% endif %}
            <br>on <small>{{ thread.date }}</small>
        </div>
    </div>
      {% for comment in thread.comments %}
      <div class="comment">
        <div class="top-comment">
        {% if comment.author.name %}
          <p class="user">{{comment.author.name}}</p>
        {% else %}
          <p class="user">Anonymous</p>
        {% endif %}
          <p class="comment-ts">{{comment.date}}</p>
        </div>
        <div class="comment-content" style="color: rgb(197, 71, 77);">{{comment.content}}</div>
        {% if (comment.author.id == current_user.id) or(current_user.id == 1) %}
        <form action="{{ url_for('main.del_comment', comment_id=comment.id) }}" method="POST">
          <button type="submit" class="comment-btns">Delete Comment</button>
        </form>
        {% endif %}
      </div>
      {% endfor %}
      {% if current_user.is_authenticated %}
      <form action="{{ url_for('main.add_comment', thread_id= thread.id ) }}" method="POST">
        <textarea id="content" name="content"></textarea>
        <button type="submit" class="button" style="font-size: smaller ;font-weight: bold; color: #3273dc; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">Add Comment</button>
      </form>
      {% endif %}
    </div>
    <footer>
        <span>&copy;  BCIT | All Rights Reserved</span>
    </footer>
  </div>
  <style>
    textarea {
    
    width: 95%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    outline: none;
    resize: none;
    }
  </style>
</body>
{% endblock %}