{% extends "base.html" %}
{% block searchbar %} {% endblock %}
{% block content %} 
<body class="Star-background" style="display: flex; flex-direction: column;">
    <canvas id="canvas"></canvas>
    <style>
        .label:not(:last-child) {
            margin-bottom: 0;
            margin-top: .5em;
        }
        .field {
            padding: 15px;
        }
        form {
            border-radius: 10px;
            overflow: hidden;
        }

        </style>
   
   {% if id == current_user.id %}

   <div class="centered-box">
        <form action="{{ url_for('main.update', id = current_user.id) }}" method="POST" style="width: 55%; min-width: 320px;" enctype="multipart/form-data">
            <div class="field has-background-light" style="max-height: 450px; overflow-y: scroll;">
                <h1 class="is-size-4 has-text-centered"  style="color: #000; padding-top: 5px; font-weight: bold;">Update Profile</h1><br>
                <div class="box">
                    {{ form.hidden_tag() }}
                    {{ form.name.label(class="label") }}
                    {{ form.name(style="width: 100%", class='input', value=name_to_update.name) }}<br>
                    {{ form.email.label(class="label") }}
                    {{ form.email(style="width: 100%", class='input', value=name_to_update.email) }}<br>
                    {{ form_two.description.label(class="label") }}
                    {{ form_two.description(style="width: 100%", class='textarea', placeholder=name_to_update.description ,value=name_to_update.description)}}<br>
                    {{ form.date_of_birth.label(class="label") }}
                    {{ form.date_of_birth(style="width: 100%; min-height: 2.5em; max-height: 2.5em", class='textarea datefield', value=name_to_update.date_of_birth) }}<br>

                    {{ form.profile_pic.label(class="label") }}
                    {{ form.profile_pic(style="width: 100%", class='input', value=name_to_update.profile_pic) }}<br>
                    
                    {{ form.submit(class='formbold-btn', style="margin-top: 20px") }}
                </div>
            </div>
        </form>
    </div>
    {% else %}
    Sorry! You cannot update this profile, authentication is wrong.
    {% endif %}
    <style>
      .formbold-btn {
        text-align: center;
        width: 100%;
        font-size: 16px;
        border-radius: 5px;
        padding: 14px 25px;
        border: none;
        font-weight: 500;
        /* background-color: #6a64f1; */
        background-color:#003c71;
        color: white;
        cursor: pointer;
        margin-top: 25px;
      }
    </style>

</body>
{% endblock %}