

.centered-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.has-background-purple {
  background-color: #6c74f4;
}

header {
    width: 100%;
    background-color: #fff;
}



