<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
  </head>
  <style>
    .hero.is-primary {
      background-color: #003c71;
      color: #fff;
    }
    .hero.is-primary a:not(.button):not(.dropdown-item):not(.tag):hover,
    .hero.is-primary strong .navbar-link.is-active,
    .hero.is-primary .navbar-link:hover,
    .hero.is-primary a.navbar-item.is-active,
    .hero.is-primary a.navbar-item:hover,
    .hero.is-primary strong:hover {
      background-color: white;
      color: #003c71;
    }
  </style>

  <body>
    <section class="hero is-primary is-fullheight">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-start">
                <h1 class="navbar-item">
                  {{ user.name }}
                </h1>
              </div>
              <div class="navbar-end">
                <a href="{{ url_for('toHome') }}" class="navbar-item">Go to Homepage</a>
                <a href="{{ url_for('main') }}" class="navbar-item"> Threads </a>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('profile') }}" class="navbar-item">
                  Profile
                </a>
                {% endif %} {% if not current_user.is_authenticated %}
                <a href="{{ url_for('login') }}" class="navbar-item"> Login </a>
                <a href="{{ url_for('signup') }}" class="navbar-item">
                  Sign Up
                </a>
                {% endif %} {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}" class="navbar-item">
                  Logout
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div>{% block content2 %} {% endblock %}</div>
      {% if ((request.endpoint != 'main')) and ((request.endpoint !=
      'thread_detailed')) %}
      <div class="hero-body">
        <div class="container has-text-centered">
          {% block content %} {% endblock %}
        </div>
      </div>
      {% endif %}
    </section>
  </body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="../../static/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <!--NavBar Section-->
        <div class="navbar">
            <nav class="navigation hide" id="navigation">
                <span class="close-icon" id="close-icon" onclick="showIconBar()"><i class="fa fa-close"></i></span>
                <ul class="nav-list">
                    <li class="nav-item"><a href="{{url_for('main')}}">Threads</a></li>
                    <li class="nav-item"><a href="posts.html">Post</a></li>
                    <li class="nav-item"><a href="course detail.html">Course Detail</a></li>
                </ul>
            </nav>
            <a class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
            <div class="brand"><a href="forums.html" class="brand">
            CIT Course Hub
            <img class="logo" src="{{url_for('static', filename='logo.svg')}}" alt="logo" width="64px" height="65px" alt="bcit logo">
            </a>
            </div>
        </div>
        <!--SearchBox Section-->
        <div class="search-box">
            <div>
                <select name="" id="">
                    <option value="Everything">Everything</option>
                    <option value="Titles">Titles</option>
                    <option value="Descriptions">Descriptions</option>
                </select>
                <input type="text" name="q" placeholder="search ...">
                <button><i class="fa fa-search"></i></button>
            </div>
        </div>
    </header>
    <body>
      {% block content %}{% endblock %}
    </body>