<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
/>
    <script src="{{url_for("static", filename="homepage.js")}}" defer></script>
 
</head>
<body>
    <header>
        <!--NavBar Section-->
        <div class="navbar">
            <nav class="navigation hide" id="navigation">
                <span class="close-icon" id="close-icon" onclick="showIconBar()"><i class="fa fa-close"></i></span>
                <ul class="nav-list">
                    <li class="nav-item"><a href="{{ url_for('main') }}">Threads</a></li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{{ url_for('profile') }}" >
                          Profile
                        </a>
                    </li>
                    {% endif %} {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{{ url_for('login') }}" > Login </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('signup') }}" >
                            Sign Up
                        </a>
                    </li>
                    {% endif %} {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{{ url_for('logout') }}">
                            Logout
                        </a>
                    </li>
                {% endif %}
                </ul>
            </nav>
            <a class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
            <div class="brand"><a href="{{ url_for('main') }}" class="brand">
            CIT Course Hub
            <img class="logo" src="{{ url_for('static', filename='logo.svg')}}" alt="logo" width="64px" height="65px" alt="bcit logo">
        </a>
            </div>
        </div>
        <!--SearchBox Section-->
        <div class="search-box">
            <div>
                <select name="" id="">
                    <option value="Everything">Everything</option>
                    <option value="Titles">Titles</option>
                    <option value="Descriptions">Descriptions</option>
                </select>
                <input type="text" name="q" placeholder="search ...">
                <button><i class="fa fa-search"></i></button>
            </div>
        </div>
    </header>
    <body>
      {% block content %}{% endblock %}
    </body>