{% extends "base.html" %} {% block content %}

<!--starts here-->

<!--starts here-->
<head>
  <link rel="stylesheet" href="static\main.css">
</head>
<div class="top-bar">
  <h1>CIT Coursehub</h1>
</div>
<div class="main">
  <ol>
    {% for thread in threads %}
    <li class="row">
      <a href="{{ url_for('thread_detailed', thread_id=thread.id)}}">
        <h4 class="title">{{ thread.title }}</h4>
        <div class="bottom">
          {% if thread.author.name %}
          <p class="author">By {{ thread.author.name }}</p>
          {% else %}
          <p class="author">By Anonymous</p>
          {% endif %}
          <p class="timestamp">{{ thread.date }}</p>
          <p class="comment-count">{{ thread.count }} comments</p>
        </div>
      </a>
    </li>
    {% endfor %}
  </ol>
  <form action="{{ url_for('add_thread') }}" method="POST">
    <textarea id="content" name="content"></textarea>
    <button type="submit">Add Thread</button>
  </form>
    <footer>
        <span>&copy;  BCIT | All Rights Reserved</span>
    </footer>
  
</body>
{% endblock %}
