{% extends "base.html" %} {% block content %}
        

<!--starts here-->
      <div class="main">
        <h1 class="title" style="color: black;">{{ thread.title }}</h4>
        <p>{{ thread.content }}</p>
          <form action="{{ url_for('del_thread', thread_id=thread.id) }}" method="POST">
            <button type="submit">Delete Thread</button>
          </form>
          <div class="bottom">
              {% if thread.author.name %}
              <p class="author">By {{ thread.author.name }}</p>
              {% else %}
              <p class="author">By Anonymous</p>
              {% endif %}
              <p class="timestamp">{{ thread.date }}</p>
              <p class="comment-count">{{ thread.count }} comments</p>
            </div>
        {% for comment in thread.comments %}
        <div class="comment">
          <div class="top-comment">
          {% if comment.author.name %}
            <p class="user">{{comment.author.name}}</p>
          {% else %}
            <p class="user">Anonymous</p>
          {% endif %}
            <p class="comment-ts">{{comment.date}}</p>
          </div>
          <div class="comment-content" style="color: rgb(197, 71, 77);">{{comment.content}}</div>
        </div>
        {% endfor %}
        <form action="{{ url_for('add_comment', thread_id= thread.id ) }}" method="POST">
          <textarea id="content" name="content"></textarea>
          <button type="submit">Add Comment</button>
        </form>
      </div>
    <footer>
        <span>&copy;  BCIT | All Rights Reserved</span>
    </footer>

</body>
{% endblock %}