{% extends "base.html" %}
{% block searchbar %} {% endblock %}
{% block content %}
{%if user.id == 1%}
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 20px 0; font-weight: 800; font-size: 2rem;">
    <h1 class="title is-2" style="color: #000; margin: 10px 0 !important;">Welcome Admin</h1>
    <h1 class="title" style="color: #000;">List of Users</h1>
</div>
<ul>
    {% for user in users %}
    <div class="profile-row">
        <div class="subforum-icon subforum-column center">
            <li>
                {% if user.profile_pic %}
                <img src="{{ url_for('static', filename='images/' + user.profile_pic) }}" alt="User Avatar">
                {% else %}
                <img src="{{ url_for('static', filename='Default-user-icon.svg') }}" alt="Default Avatar">
                {% endif %}
            </li>
        </div>
        <div class="subforum-description subforum-column"><li>{{ user.id }}</li></div>
        <div class="subforum-stats subforum-column center"><li>{{ user.name }}</li></div>
        <div class="subforum-info subforum-column"><li>{{ user.email }}</li></div>
        <form action="{{ url_for('auth.del_user', id=user.id) }}" method="POST">
            <button type="submit"  class="button is-danger is-small">Delete</button>
        </form>
    </div>
    {% endfor %}
</ul>
{% elif user.id != 1  %}
<h1 style="color:black;">Access Denied</h1>
{% endif %}

{% endblock %}