{% extends "base.html" %}
{% block searchbar %}{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{%endfor%}
<!-- <body class="centered-box">  
  <style>
    .form-content {
      display: grid;
      grid-template-columns: 5fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
      "col1 col4"
      "col2 col4"
      "col3 col4" ;
    }

    .item:first-child {
      grid-area: col1;
    }

    .item:nth-child(2) {
      grid-area: col2;
    }

    .item:nth-child(3) {
      grid-area: 3;
    }

    .item:last-child {
      grid-area: col4;
      align-self: center;
      justify-self: center;
      padding: calc(15px * 3);
      background-color: #9b9b9b;
      color: #fff;
    }

    @media screen and (max-width: 767px) {
      .card-content {
        padding: 10px;
      }
      .card-header-title {
        font-size: 1.5rem !important;
      }
      .form-content {
        font-size: 1.1rem !important;
        margin: 0 !important;
      }
    }

    .card-header-title {
      flex-grow: 0 !important;
      padding-bottom: 20px;
    }

    .buttons {
      flex-direction: row;
    }

  </style>
  <div class="card-content centered-box">
    <h5 class="card-header-title is-size-3" style="justify-content: space-around;"> My Profile </h5>
    <div class="form-content is-size-5">
      <div class="item"><strong>User Name: </strong> {{ current_user.name }}<br></div>
      <div class="item"><strong>User ID: </strong>{{ current_user.id }}<br></div>
      <div class="item"><strong>Email: </strong>{{ current_user.email }}<br></div>
      <div class="item"><img src="{{ url_for('static', filename='Default-user-icon.svg') }}" alt="Default" style="width: 75px; height: 75px;"></div>
    </div><br>
    <div class="buttons">
      <a class="button is-dark" href="{{ url_for('auth.logout')}}">Log out</a>
      <a class="button is-dark" href="{{ url_for('main.update', id = current_user.id)}}">Edit Profile</a>
    </div>
  </div><br>
</body> -->
<body>
  <div class="columns">
    <div class="container profile">
      <!-- Edit Preferences Modal End -->
      <div class="section profile-heading">
        <div class="columns is-mobile is-multiline">
          <div class="column is-2">
            <span class="header-icon user-profile-image">
              <img src="{{ url_for('static', filename='Default-user-icon.svg') }}" alt="">
            </span>
          </div>
          <div class="column is-4-tablet is-10-mobile name">
            <p>
              <span class="title is-bold" style="margin-bottom: 10px;">{{ current_user.name }}</span>
              <br>
              <a id="edit-preferences" class="button is-primary is-outlined" href=" {{ url_for('main.update', id = current_user.id) }} " style="margin: 10px 0">Edit Preferences</a>
              <a class="button is-primary is-outlined" href="{{ url_for('auth.logout')}}" style="margin: 10px 0">Log out</a>
              <br>
            </p>
            <p class="tagline">
              The users profile bio would go here, of course. It could be two lines or more or whatever. We should probably limit the amount of characters to ~500 at most though.
            </p>
          </div>
          <div class="column is-3-tablet is-6-mobile has-text-centered">
            <p class="stat-val">10</p>
            <p class="stat-key">Post</p>
          </div>
          <div class="column is-3-tablet is-6-mobile has-text-centered">
            <p class="stat-val">3</p>
            <p class="stat-key">Comments</p>
          </div>
        </div>
      </div>
      <div class="profile-options is-fullwidth">
        <div class="tabs is-fullwidth is-medium">
          <ul>
            <li class="link">
              <a>
                <span class="icon">
                  <i class="fa fa-list"></i>
                </span>
                <span>Information</span>
              </a>
            </li>
            <li class="link is-active">
              <a>
                <span class="icon">
                  <i class="fa fa-thumbs-up"></i>
                </span>
                <span>My Post</span>
              </a>
            </li>
            <li class="link">
              <a>
                <span class="icon">
                  <i class="fa fa-thumbs-up"></i>
                </span>
                <span>My Like</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="box" style="border-radius: 0px;">
        <!-- Main container -->
        <div class="columns">
          <div class="column is-2-tablet user-property-count has-text-centered">
            <p class="subtitle is-5">
              <strong>
              123
              </strong>
              <br>
              properties
            </p>
          </div>
          <div class="column is-10">
            <p class="control has-addons" style="display: flex;">
              <input class="input" type="text" placeholder="Search your liked properties" style="width: 100% !important">
              <button class="button">
                Search
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}