<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    {% if request.path == '/' %}
    <link rel="stylesheet" href="../static/styles3.css">
    {% endif %}
    <Link rel="preconnect" href="https://fonts.gstatis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='login-signup-styles.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <script src="{{ url_for('static', filename='homepage.js')}}" defer></script>   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% if request.path == '/' %}
    <div class="intro">
        <h1 class="logo-header"> 
            <span class="logo">
            <img src="../static/logo.svg" alt="logo" width= "108.8px" height= "91.8px" />
            </span>
            <span class="logo">CIT Course Hub</span>
        </h1>
    </div>
    {% endif %}
    <header class="column is-fullwidth">
        <!--NavBar Section-->
        <section class="navbar" role="navigation">
            <div class="navbar-brand">
              <a class="navbar-item brand" href="{{ url_for('main.index') }}">
                CIT Course Hub
                <img class="logo" src="{{ url_for('static', filename='logo.svg')}}" alt="logo" width="64px" height="65px" alt="bcit logo">
              </a>
              <a role="button" class="navbar-burger"
              onclick="toggleNavbar()"
              data-target="navbarBasicExample">
              <!-- The Burger -->
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <!-- This item is hidden, can just use for phone -->
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="{{ url_for('main.index') }}">Threads</a>

                    {% if current_user.is_authenticated and current_user.id != 1%} 
                    <a class="navbar-item" href="{{ url_for('main.update', id = current_user.id) }}">Update</a>
                    <a class="navbar-item" href="{{ url_for('main.profile') }}">{{user.name}}</a>
                    <a class="navbar-item" href="{{ url_for('auth.logout') }}">Log Out</a>
                    
                    
                    {% elif current_user.id == 1%}
                    <p class="navbar-item" >Admin</p>
                    <a class="navbar-item" href="{{ url_for('auth.users') }}">List of Users</a>
                    <a class="navbar-item" href="{{ url_for('auth.logout') }}">Log Out</a>

                    {% else %}
                    <a class="navbar-item" href="{{ url_for('auth.login') }}">Login</a>
                    <a class="navbar-item" href="{{ url_for('auth.signup') }}">Signup</a>
                    {% endif %}
              </div>
            </div>
        </section>
    
    {% block searchbar %}
    <!--SearchBox Section-->
    <div class="search-box">
        <div style="display:flex; justify-content: center; align-items: center;">
            <input type="text" name="q" placeholder="search ..." class="is-fullwidth">
            <button><i class="fa fa-search"></i></button>
        </div>
    </div>
    {% endblock %}
</header>
<body>
    {% block content %}{% endblock %}
    <script>
        let intro = document.querySelector('.intro');
        let logo = document.querySelector('.logo-header');
        let logoSpan = document.querySelectorAll('.logo');
        
        window.addEventListener('DOMContentLoaded', ()=>{
        
            setTimeout(()=>{
                logoSpan.forEach((span, idx)=>{
                    setTimeout(()=>{
                        span.classList.add('active');
                    }, (idx + 1) * 400)
                });
            }, 0); 
        
            setTimeout(()=>{
                logoSpan.forEach((span, idx)=>{
                    setTimeout(()=>{
                        span.classList.remove('active');
                        span.classList.add('fade');
                    }, (idx + 1) * 50)
                });
            }, 2000);
        
            setTimeout(()=>{
                intro.style.top = '-100vh'; 
            }, 2300)
        });
        </script>
    </body>