{% extends "base.html" %} {% block content %}
{% if current_user.is_authenticated %}
<div class="page-container">
    <div style="display: flex; justify-content: center;">
        <a href="{{ url_for('main.add_page')}}" class="button" style="font-size: 1.25rem; color: #3273dc; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; width: 80%; margin-top: 40px;">
            Add Thread
        </a>
    </div>
{% endif %}

    <div class="container">
        {% for subheading in subheadings %}
        <div class="subforum">
            <div class="subforum-title">
                <h1>{{subheading.title}}</h1>
                {% if current_user.id == 1 %}
                <form action="{{ url_for('main.del_subheading', subheading_id=subheading.id)}}" method="POST">
                    <button type="submit" class="admin-btns">Delete</button>
                </form>
                {% endif %}
            </div>
            {% for thread in subheading.threads %}
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="fa fa-user center"></i>
                </div>
                <div class="subforum-description subforum-column">
                    <h4><a href="{{ url_for('main.thread_detailed', thread_id=thread.id)}}" style="word-wrap: break-word;">{{ thread.title }}</a></h4>
                    <p style="word-wrap: break-word;">{{ thread.content }}</p>
                    <div class="subforum-upvote-downvote">
                        {% if thread.upvoted == 1 %}
                            <span class="upvote-btn clicked" data-thread-id="{{ thread.id }}">
                                <i class="fa fa-arrow-up"></i>
                            </span>
                        {% elif thread.upvoted != 1 and thread.downvoted != 1 %}
                            <span class="upvote-btn" data-thread-id="{{ thread.id }}">
                                <i class="fa fa-arrow-up"></i>
                            </span>
                        {% endif %}
                        {% if thread.downvoted == 1 and thread.upvoted != 1 %}
                        <span class="upvote-btn" style="pointer-events: none;" data-thread-id="{{ thread.id }}">
                            <i class="fa fa-arrow-up" style="pointer-events: none;"></i>
                        </span>
                        {% endif %}
                        <span class="upvote-count">{{ thread.upvotes }}</span>
                        {% if thread.upvoted == 1 and thread.downvoted != 1 %}
                        <span class="downvote-btn" style="pointer-events: none;" data-thread-id="{{ thread.id }}">
                            <i class="fa fa-arrow-down" style="pointer-events: none;"></i>
                        </span>
                        {% endif %}
                        {% if thread.downvoted == 1 %}
                            <span class="downvote-btn clicked" data-thread-id="{{ thread.id }}">
                                <i class="fa fa-arrow-down"></i>
                            </span>
                        {% elif thread.downvoted != 1 and thread.upvoted != 1 %}
                            <span class="downvote-btn" data-thread-id="{{ thread.id }}">
                                <i class="fa fa-arrow-down"></i>
                            </span>
                        {% endif %}
                        <span class="downvote-count">{{ thread.downvotes }}</span>
                    </div>
                </div>
                <div class="subforum-stats subforum-column center">
                    {% if thread.count == 1 %}
                    <span>{{ thread.count }} Comment </span>
                    {% else %}
                    <span>{{ thread.count }} Comments </span>
                    {% endif %}
                </div>
                <div class="subforum-info subforum-column">
                    {% if thread.author.name %}
                    by <a href="">{{ thread.author.name }}</a>
                    {% else %}
                    by <a href="">Anonymous</a>
                    {% endif %}
                    <br>on <small>{{ thread.date }}</small>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

        </div>
    </div>
    <!-- Forum Info -->
    <div class="forum-info">
        <div class="chart">
            MyForum - Stats &nbsp;<i class="fa fa-bar-chart"></i>
        </div>
        <span><u>5,369</u> Posts in <u>48</u> Topics by <u>8,124</u> Members.</span><br>
        <span>Latest post: <b><a href="">Random post</a></b> on Dec 15 2021 By <a href="">RandomUser</a></span>.<br>
        <span>Check <a href="">the latest posts</a> .</span><br>
    </div>

    <footer>
        <span>&copy; BCIT | All Rights Reserved</span>
    </footer>
</div>
<style>

/* Style the upvote arrow */
.upvote-btn i {
    cursor: pointer; /* Change cursor to pointer on hover */
}

        /* Style the downvote arrow */
        .downvote-btn i {
            cursor: pointer;
            /* Change cursor to pointer on hover */
        }

        /* Style the upvote arrow when clicked */
        .upvote-btn.clicked i {
            color: orange;
            /* Set the color to orange */
        }

        /* Style the downvote arrow when clicked */
        .downvote-btn.clicked i {
            color: rgb(0, 234, 255);
            /* Set the color to blue */
        }
    </style>
    {% if current_user.is_authenticated %}
    <script>
        const upvoteButtons = document.querySelectorAll(".upvote-btn");
        const downvoteButtons = document.querySelectorAll(".downvote-btn");

        upvoteButtons.forEach((button) => {
            button.addEventListener("click", async () => {
                await fetch("{{ url_for('main.upvote') }}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        thread_id: button.dataset.threadId
                    })
                })
                window.location.reload();
            })
        })

        downvoteButtons.forEach((button) => {
            button.addEventListener("click", async () => {
                await fetch("{{ url_for('main.downvote') }}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        thread_id: button.dataset.threadId
                    })
                })
                window.location.reload();
            })
        })
    </script>
    {% endif %}
    </body>
    {% endblock %}
